bin
obj
csx
.vs
edge
Publish
.vscode
.DS_Store

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/src/node_modules

/node_modules
/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

/test-output
xunit.xml